p {
  overflow-wrap: break-word;
}
.container {
  width: 400px;
  margin: 0 auto;
  padding: 0 5rem;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  background-color: #e0e0e0;
}
.home-container p {
  padding-bottom: 100px;
}
.header-title {
  font-weight: 700;
  padding: 50px 50px 50px;
  margin: 0;
}
.result-list {
  margin-bottom: 50px;
}

.start-link {
  display: block;
  padding-bottom: 50px;
  text-decoration: none;
  color: #333;
}

.start-link:hover {
  font-size: 26px;
}

.quiz-container {
  padding-bottom: 50px;
}
.card-container {
  border: 1px solid #333;
  padding: 20px;
}
.card-container p {
  margin-bottom: 100px;
}
.card-container label:hover, .container input:hover {
  cursor: pointer;
  opacity: 0.7;
}
.card-container input {
  text-align: left;
  display: inline-block;
  margin-left: 20px;
}
.quiz-number {
  display: block;
  margin-top: 20px;
}

.result-list li {
  margin-bottom: 20px;
  padding-inline-start: 20px;
  text-align: left;
  list-style-type: "-";
  overflow-wrap: break-word;
  color: #828282;
}
.result-list li.active {
  list-style-type: "+";
}
.start-again {
  display: block;
  margin-top: 50px;
  padding-bottom: 50px;
}