p {
  overflow-wrap: break-word;
}
.container {
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  background-color: #e0e0e0;
}
@media only screen and (max-width: 767px) {
  .container {
    width: 100%;
  }
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1024px) {
  .container {
    width: 60%;
    margin: 0 auto;
  }
}

/* Header */
.nav-container {
  padding: 50px 0;
  background-color: aquamarine;
  color: antiquewhite;
}
.link-list {
  margin: 0;
  display: flex;
  flex-wrap: column wrap;
  justify-content: center;
}
.link-list li {
  list-style: none;
  margin-left: 15px;
  margin-right: 15px;
  color: #360a4c;
}
.link-list li a {
  text-decoration: none;
}
.link-list li.active {
  color: #e22bcb!important;
}
.link-list li.active a {
  color: #e22bcb!important;
}

/* Home page */
.home-container p {
  padding-bottom: 100px;
}
.header-title {
  font-weight: 700;
  padding: 50px 50px 50px;
  margin: 0;
}
.start-link {
  display: block;
  padding-bottom: 50px;
  text-decoration: none;
  color: #333;
}

.start-link:hover {
  font-size: 26px;
}

/* Quiz page */
.quiz-container {
  padding-bottom: 50px;
}  
.card-container {
  border: 1px solid #333;
  padding: 20px;
}
.card-container p {
  margin-bottom: 100px;
}
.card-container label:hover, .container input:hover {
  cursor: pointer;
  opacity: 0.7;
}
.card-container input {
  text-align: left;
  display: inline-block;
  margin-left: 20px;
}
.quiz-number {
  display: block;
  margin-top: 20px;
}

/* Result page */
.result-list {
  margin-bottom: 50px;
}  
.result-list li {
  margin-bottom: 20px;
  padding-inline-start: 20px;
  text-align: left;
  list-style-type: "-";
  overflow-wrap: break-word;
  color: #828282;
}
.result-list li.active {
  list-style-type: "+";
}
